/* Saved Pallete https://colordesigner.io/#59D8E6-D9CB9E-374140-2A2C2B-BDC3C7 */

body {
    /* background-color: #E1EAE7; */
    background: linear-gradient(#61dae7 30%, #72deea 60%, #83e2ec 100%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    
}

h1 {
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    word-spacing: -4px;
    font-size: 4rem;
    /* margin-top: 10px;*/
    margin-bottom: 0px;
    /*padding-bottom: 0px;
    border-bottom: 0px; */
}
hr {
    border-style: none;
    width: 80%;
    height: 5px;
    background-image: linear-gradient(to right, rgba(124, 224, 235, 0), rgba(93, 217, 231, 0.8), rgba(124, 224, 235, 0));
    /* background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/9/92/The_Weeknd_performing_at_Djakarta_Warehouse_Project_in_December_2018_%28cropped%29.jpg/220px-The_Weeknd_performing_at_Djakarta_Warehouse_Project_in_December_2018_%28cropped%29.jpg) */
    /* background-image: linear-gradient(to right, rgba(189, 239, 245,0) rgba(189, 239, 245, 0.8), rgba(189, 239, 245, 0)); */
}

h2 {
    text-align: center;
    font-size: 3.2rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}


#profilePhoto {
    margin-top: 10%;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    padding-bottom: 3px;
    filter: grayscale(20%);
    /* filter: blur(1px); */
    /* filter: opacity(50%); */
    
}

#profilePhoto:hover{
    box-shadow: 3px 3px 5px rgba(44, 88, 96, 0.8), -3px -3px 5px rgba(44, 88, 96, 0.8);
    filter: none;
}

.header {
    margin: 2px;
}

p:first-child {
    margin-bottom: 3px;
    text-transform: uppercase;
    margin-top: 18px;
}

.details {
    margin-top: 2px;
    margin-bottom: px;
}

li {
    list-style-position: inside;
}

.social-handle img{
    height: 3rem;
    width: 3rem;
    margin: 10px 7px 20px 2px;
    transition: height 0.3s, width 0.3s, margin-right 0.3s;
    transition-delay: 0.1s;
}

.social-handle img:hover {
    height: 5rem;
    width: 5rem;
    margin-right: 5px;

}


/* Styles for Skills  */
table[class="skills"] {
    position: relative;
    left: 40%;

}

td {
    padding-right: 10px;
    text-align: left;
}

.skills img {
    height: 2rem;
    width: 2rem;
}

/* ------------------------------ For Navigation --------------------------- */

  .navbar {
    position: fixed;
    top: 0.3%;
    right: 0.5%;
    left: 0.5%;
    width: 99%;
    height: 10%;
    border-radius: 4px;
    background-color: rgba(208, 244, 248, 0.96);
     
    margin-bottom: 12%;
} 

.navbar li {
    display: inline-block;
    font-size: 1.4rem;
    padding-right: 30px;
    padding-left: 20px;
    border-right: 0.2px solid black;
    margin-bottom: 0px;
    height: 100%;
    width: 20%;
    
}

.navbar ul {
    height: 100%;
    margin-top: 0px;
}

.navbar a:visited, .navbar a:active, .navbar a{
    display: inline-block; 
    text-decoration: none;
    color: inherit;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    width: 100%;
    margin: 0px;

} 